:root {
    font-size: 16px;
    font-family: "Open sans";
    --text-primary: #000000;
    --text-secondary: #ececec;
    --nav-text-active:#A84AD3;
    --bg-primary: #1A1A23;
    --bg-secondary: #23232F;
    --user-card-bg: #F4F4FD;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color:#F5F3F7;
    padding: 0;
    margin: 0;
}

.content-container {
    flex-direction: row;
    justify-content: flex;
    flex-grow: 2;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .content-container {
      justify-content: center;
    }
}